.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 32px;
}

.field_name{
    display: flex;
    align-self: center;
    margin: 8px;
}

.modal_buttons{
    display: inline-block;
    margin: 16px;
    margin: 16px;
}

.modal_title{
    text-align: center;
}