.background {
    min-width: 100vw;
    min-height: 85vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}