.background {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconWrapper {
    margin: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}