.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 32px;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons_container{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.field_name {
    display: flex;
    align-self: center;
    margin: 8px;
}

.modal_title {
    text-align: center;
}

.team_select {
    margin: 8px;
}