name: Frontend deploy

on:
  push:
    branches: [main]
    paths:
        - 'fmtools-frontend/**'
  
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      - 
        name: Delete docker tag
        id: docker_build
        uses: xhofe/del-docker-tag@main
        with:
          token: ${{ secrets.DOCKERHUB_TOKEN }}
          tags: denisoncorbal/fmtools:frontend-latest
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./fmtools-frontend
          push: true
          tags: denisoncorbal/fmtools:frontend-latest  
      - 
        name: Deploy to aaPanel
        uses: tunnaduong/aapanel-deploy-action@main
        with:
          panel_url: ${{ secrets.AAPANEL_URL }}
          webhook_key: ${{ secrets.AAPANEL_FRONTEND_WEBHOOK_KEY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}