.background {
    min-width: 100vw;
    min-height: 85vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.accordion {
    width: 100%;
}

.attributes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.attribute_individual_container {
    padding: 8px;
}

.attribute_title {
    text-align: center;
    padding: 8px;
}

.attribute_value {
    text-align: center;
    padding: 8px;
}